<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>default</key>
        <dict>
            <key>BaseURL</key>
            <string>mmx://prod-mmx-001.magnet.com:5222</string>
            <key>DomainName</key>
            <string>prod-mmx-001</string>
            <key>AppId</key>
            <string>773ig7kc1r0</string>
            <key>ApiKey</key>
            <string>be3e9d7b-2381-45a5-a6e6-5fa94bab6515</string>
            <key>AnonymousSecret</key>
            <string>f437536b-9275-43dc-a1b7-599c3a0e9628</string>
            <key>ShouldForceTLS</key>
            <true/>
            <key>PublicAPIPort</key>
            <integer>5221</integer>
            <key>AllowInvalidCertificates</key>
            <false/>
        </dict>
    </dict>
</plist>
